@import './variables';

@mixin theme($light-theme: true) {
	@if $light-theme {
		* {
			color: $text-light;
		}
		& {
			background-color: $bg-light;
		}
	}
}
.light {
	* {
		color: $text-light;
	}
	& {
		background-color: $bg-light;
		min-height: 100vh;
	}
	.btn {
		height: 2rem;
	}
	.btn-primary {
	}
}
.dark {
	* {
		color: $text-dark;
	}
	body,
	& {
		background-color: $bg-dark;
		min-height: 100vh;
	}
	.btn {
		height: 2rem;
	}
	.btn-primary {
	}
}
