@import './colors';

.light {
	p,
	h1,
	h2,
	h3,
	h5,
	h6,
	span {
		color: $text-light;
	}
	body,
	& {
		background-color: $bg-light;
	}
}

.dark {
	p,
	h1,
	h2,
	h3,
	h5,
	h6,
	span {
		color: $text-dark;
	}
	body,
	& {
		background-color: $bg-dark;
	}
}
