@import './colors';
.light {
	* {
		color: $text-light;
	}
	& {
		background-color: $bg-light;
		min-height: 100vh;
	}
}
.dark {
	* {
		color: $text-dark;
	}
	body,
	& {
		background-color: $bg-dark;
		min-height: 100vh;
	}
}
