@import './utils/mixins';
@import './utils/variables';

nav {
	// background-color: rgba(116, 146, 230, 0.377);
	background-color: rgba(0, 0, 0, 0.616);
	height: 4rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}
.nav-container {
	@include flex;
	justify-content: space-between;
	padding-inline: 3rem;
}
.logo {
	color: $white;
}
ul {
	@include flex-center;
	gap: 2rem;
	list-style: none;
}
a {
	text-decoration: none;
}
